# Sets

In [1]:
mySet = {"apple", "banana", "cherry"} # This is a set in Python, we define this 
                                      # using curly braces and separating the items with commas.
mySet

{'apple', 'banana', 'cherry'}

In [2]:
mySet = set(("apple", "banana", "cherry")) # We can also create a set using the set() constructor.
mySet

{'apple', 'banana', 'cherry'}

### Properties of Sets
- Declared with curly brackets {}
- All elements are unique 
- The order doesn't matter

In [7]:
myList = ['a', 'b', 'b', 'c', 'c']
myList = set(myList) 
myList = list(set(myList))# We can convert a list to a set to remove duplicates, and then convert it back to a list.
myList

{'a', 'b', 'c'}

In [8]:
myList[0] # This will give us an error because sets do not support indexing.

TypeError: 'set' object is not subscriptable

In [9]:
number = 1 
1[0] # This will also give us an error because integers do not support indexing.

<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
/var/folders/04/w3c1wxxn7yd3cj7_jshp7h4w0000gn/T/ipykernel_24713/3003766737.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]

TypeError: 'int' object is not subscriptable

In [11]:
mySet.add("orange") # We can add an item to a set using the add() method.
mySet

{'apple', 'banana', 'cherry', 'orange'}

In [12]:
'apple' in mySet # We can check if an item is in a set using the 'in' keyword.

True

In [13]:
'z' in mySet # This will return False because 'z' is not in the set.

False

In [14]:
len(mySet) # We can get the number of items in a set using the len() function.

4

In [15]:
while len(mySet):
    print(mySet.pop()) # We can remove and return an arbitrary item from the set using the pop() method.

banana
apple
orange
cherry

In [17]:
mySet

set()

In [18]:
mySet = {"apple", "banana", "cherry"}

In [19]:
mySet.discard("banana") # We can remove an item from a set using the discard() method. If the item is not present, it does nothing.

In [20]:
mySet

{'apple', 'cherry'}

# Tuples

In [21]:
myTuple = ('a', 'b', 'c') # This is a tuple in Python, 
                        #we define this using parentheses and separating the items with commas.
myTuple

('a', 'b', 'c')

In [22]:
myTuple[0] # We can access items in a tuple using indexing, just like with lists.

'a'

In [23]:
myTuple[0] = 'x' # This will give us an error because tuples are immutable, 
                # meaning we cannot change their items after they have been created.

TypeError: 'tuple' object does not support item assignment

In [25]:
def returnsMultipleValues():
    return 1, 2, 3 # A function can return multiple values as a tuple.

type(returnsMultipleValues()) # The return value of the function is a tuple.

tuple

In [26]:
myTuple = (1, 2, 3) # We can also create a tuple using parentheses and separating the items with commas.
type(myTuple)

tuple

In [27]:
a, b, c = myTuple # We can unpack a tuple into separate variables.

In [28]:
print(a) # This will print 1
print(b) # This will print 2
print(c) # This will print 3
#

1
2
3

### Tuples 
- Declared with parentheses 
- Are ordered and "subscritable"
- Cannot be modified

### Why use Tuples 
- More efficient than list 
- They don't grow or change 
- Store compactly in memory